<form action="../../api/session/register" method="POST">
  <h4>REGISTRO</h4>
  <label for="nombre">Nombre:
    <input type="text" name="nombre" id="nombre" /></label>
  <label for="apellido">Apellido:
    <input type="text" name="apellido" id="apellido" /></label>
  <label for="email">Correo electrónico:
    <input type="email" name="email" id="email" /></label>
  <label for="password">Contraseña:
    <input type="password" name="password" id="password" /></label>
  <label for="nacimiento">Fecha nacimiento:
    <input type="date" name="cumpleanos" id="nacimiento" /></label>
  <button type="submit">Registrarme</button>
</form>