* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header h1 {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}
main {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding-bottom: 10px;
}

.datos1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.imagenPerfil {
  width: 150px;
  height: 150px;
}

.cargarFoto {
  background-color: rgb(56, 175, 56);
  border: none;
  font-size: 1.5rem;
  width: 150px;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}
.cargarFoto:hover {
  background-color: green;
}

.inputFoto {
  width: 150px;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 1.5rem;
}

.inputFoto:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.profesorYRutinas {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.profesor {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.profesor h2,
.rutinas h2 {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

.rutinas {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.lista {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.lista li {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 30;
  color: black;
  font-size: 3rem;
}

.lista li a {
  text-decoration: none;
}

.lista li a img {
  width: 40px;
  height: 40px;
}

.logout {
  background-color: rgb(185, 9, 9);
  border: none;
  font-size: 1.5rem;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
}

.logout:hover {
  background-color: black;
}
footer {
  width: 100%;
  height: 15vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
